[Unit]
Description=GPU Fan Control P40-2
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/gpu_fan2.py
Restart=always
RestartSec=10
User=YOUR_USERNAME

[Install]
WantedBy=multi-user.target
